@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
       
}

body {
    font-family: 'Poppins', sans-serif;

}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #0a141d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

.inicio {
    
    background-image: linear-gradient(
        rgba(29,30,35,0.8), 
        rgba(29,30,35,0.8) 
     ),
    url(/assets/img/Fondo1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0 0 0;
    width: 100%;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    padding: 10px 0 0 0;
    color: #f56349;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    padding: 15px 0 0 0;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #f56349;
}

#menu {
    display: none;
}

.header-txt {
    text-align: center;
    padding: 0 200px;
}

.header-txt h1 {
    font-size: 90px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 100px;
    margin-bottom: 35px;


}

.header-txt h2 {
    font-size: 30px;
    line-height: 1;
    color: #bdfbff;
    font-family: 'Poppins', sans-serif;
    margin-top: 90px;
}

.header-txt h3 {
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fa6b28;
}

p {
    font-size: 17px;
    color: #ffe988;
    margin-bottom: 50px;
}

.btn-info {
    margin-top: 40px;
    display: inline-block;
    padding: 11px 35px;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        rgba(245,99,72,1) 0%,
        rgba(254,140,32,1) 100%
    );
}


.about {
    
    padding: 100px 0;
    background-color: #24272E;

}

.about-content {

    display: flex;
    justify-content: center;
    align-items: center;

}
.about-txt {
    flex-basis: 35%;
  
    
   
}

span {
    font-size: 14px;
    text-transform: uppercase;
    color: #f56349;
}

h2 {
    font-size: 35px;
    color: #FFFFFF;
    margin: 15px 0;
    line-height: 1;
}

hr {
    border: 1px solid #f56349 ;
    width: 69%;
    margin-bottom: 30px;
}

.about-img {
    flex-basis: 30%;
    margin-left: 200px;
}

.about-img img { 
    border-radius: 20px;
    border: 2px solid #f56349;
    
}

.plans {
    padding: 100px 0;
    background-color: #242e2e;
    align-content: center;
    text-align: center;
}

.plans hr {
    width: 180px;
}

.plans-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.plans-content { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.plans-content img {
    height: 40px;
    margin: 20px 0;
  
}

.pan-1 {
    color: #ffffff;
    background: #005475;
    border: 1px solid #bdfbff;
    flex-basis: calc(33.3.3% - 20px);
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 10px;

}
.pan-2 {
    color: #ffffff;
    background: #005475;
    border: 1px solid #bdfbff;
    flex-basis: calc(33.3.3% - 20px);
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 10px;

}
.pan-3 {
    color: #ffffff;
    background: #005475;
    border: 1px solid #bdfbff;
    flex-basis: calc(33.3.3% - 20px);
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 10px;

}
.pan-4 {
    color: #ffffff;
    background: #005475;
    border: 1px solid #bdfbff;
    flex-basis: calc(33.3.3% - 20px);
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 10px;

}


.contacto {
    background-color: #02354d;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c hr {
    width: 180px;
}

form {
    padding: 50px 55px;
    background-color: #005475;
    border-radius: 15px;
    text-align: center;
    width: 500px;
   
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    color: #f8aa02;
    font-size: 15px;
    margin-bottom: 10px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 20px;
    margin-bottom: 25px;
    outline: none;
}

.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 30px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .box figure img {
    width: 100px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #fa6b28;
    margin-bottom: 10px;
    font-size: 15px;
    width: 350px;
}

.pie-pagina .grupo-1 .red-social i {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: #bdfbff;
    color: #02354d;
    text-align: center;
    border-radius: 5px;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social i:hover {
    color: #fa6b28;
}

.pie-pagina .grupo-2 {
    background-color: #24272E;
    padding: 15px 10px;
    text-align: center;
    color: #bdfbff;
}

.pie-pagina .grupo-2 small b {
    color: #f56349;

}



