/* Estilos del menú */
.menu .navbar ul {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre elementos */
    list-style: none;
    padding: 10;
    border-radius: 10px;
}

.menu .navbar ul li {
    font-size: 30px;
    padding: 15px 25px;
    border: 3px solid red;
    font-weight: 300;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}


.menu .navbar ul li:hover {
    background: green;
    color: red
}
    .contacto {
        background-color: #02354d;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .c {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .c hr {
        width: 180px;
    }
    
    form {
        padding: 50px 55px;
        background-color: #005475;
        border-radius: 15px;
        text-align: center;
        width: 500px;
       
    }
    
    .input-group {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    label {
        color: #f8aa02;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    input, textarea {
        padding: 17px 25px;
        border-radius: 20px;
        margin-bottom: 25px;
        outline: none;
    }
    
    
.footer {
    padding: 100px;
    text-align: center
}